@model IEnumerable<DTO.EntityArticle>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    $(document).ready(function () {

    });

    function SetPriority(prio, id) {

        SetColors(prio, id);
        SetPriorityAjax(prio, id);
    }
    function SetPriorityAjax(prio, id) {
        $.ajax({
            type: "GET",
            url: "Articles/UpdatePriority",
            data: "ID=" + id + "&prio=" + prio,
            success: function (data) {

            }
        });
    }

    function SetColors(prio, id) {
        switch (prio) {
            case 1:
                $("#artLine_" + id).css("color", "#016011");
                $("#artLine_" + id).css("backgroundColor", "#B6FFA8");
                break;
            case 2:
                $("#artLine_" + id).css("color", "#A58C1A");
                $("#artLine_" + id).css("backgroundColor", "#F9FFA8");
                break;
            case 3:
                $("#artLine_" + id).css("color", "#E02323");
                $("#artLine_" + id).css("backgroundColor", "#E2BABA");
                break;
        }
    }

</script>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            <div style="float:left;">@Html.DisplayNameFor(model => model.name)</div>
            <div style="float:left;">
                @Html.ActionLink(
                        " ",
                     "Index",
                     "Articles",
                         new
                         {
                             orderBy = "nameDesc"
                         },
                        new
                        {
                            style = "background: url('" + Url.Content("~/Images/downArrow.gif") + "') no-repeat center right; display:block; height:20px; width:20px;"
                        }
                )
            </div>
            <div style="float:left;">
                @Html.ActionLink(
                        " ",
                     "Index",
                     "Articles",
                         new
                         {
                             orderBy = "nameAsc"
                         },
                        new
                        {
                            style = "background: url('" + Url.Content("~/Images/upArrow.gif") + "') no-repeat center right; display:block; height:20px; width:20px;"
                        }
                )
            </div>
        </th>
        <th>
            <div style="float:left;">
                @Html.DisplayNameFor(model => model.description)
            </div>
            <div style="float:left;">
                @Html.ActionLink(
                        " ",
                     "Index",
                     "Articles",
                         new
                         {
                             orderBy = "descDesc"
                         },
                        new
                        {
                            style = "background: url('" + Url.Content("~/Images/downArrow.gif") + "') no-repeat center right; display:block; height:20px; width:20px;"
                        }
                )
            </div>
            <div style="float:left;">
                @Html.ActionLink(
                        " ",
                     "Index",
                     "Articles",
                         new
                         {
                             orderBy = "descAsc"
                         },
                        new
                        {
                            style = "background: url('" + Url.Content("~/Images/upArrow.gif") + "') no-repeat center right; display:block; height:20px; width:20px;"
                        }
                )
            </div>
        </th>
        <th>
            <div style="float:left;">
                @Html.DisplayNameFor(model => model.Category.name)
            </div>
            <div style="float:left;">
                @Html.ActionLink(
                        " ",
                     "Index",
                     "Articles",
                         new
                         {
                             orderBy = "categoryDesc"
                         },
                        new
                        {
                            style = "background: url('" + Url.Content("~/Images/downArrow.gif") + "') no-repeat center right; display:block; height:20px; width:20px;"
                        }
                )
            </div>
            <div style="float:left;">
                @Html.ActionLink(
                        " ",
                     "Index",
                     "Articles",
                         new
                         {
                             orderBy = "categoryAsc"
                         },
                        new
                        {
                            style = "background: url('" + Url.Content("~/Images/upArrow.gif") + "') no-repeat center right; display:block; height:20px; width:20px;"
                        }
                )
            </div>
        </th>
        <th>
            <div style="float:left;">
                Priorité
            </div>
            <div style="float:left;">
                @Html.ActionLink(
                        " ",
                     "Index",
                     "Articles",
                         new
                         {
                             orderBy = "priorityDesc"
                         },
                        new
                        {
                            style = "background: url('" + Url.Content("~/Images/downArrow.gif") + "') no-repeat center right; display:block; height:20px; width:20px;"
                        }
                )
            </div>
            <div style="float:left;">
                @Html.ActionLink(
                        " ",
                     "Index",
                     "Articles",
                         new
                         {
                             orderBy = "priorityAsc"
                         },
                        new
                        {
                            style = "background: url('" + Url.Content("~/Images/upArrow.gif") + "') no-repeat center right; display:block; height:20px; width:20px;"
                        }
                )
            </div>
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr id="artLine_@item.ArticleID">
        <td style ="width:100px;padding-left:5px;">
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td style ="width:280px">
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td style ="width:120px">
            @Html.DisplayFor(modelItem => item.Category.name)
        </td>
        <td style ="width:120px">
            <div class="greenCircle" onclick="javascript:SetPriority(1,@item.ArticleID)"></div>
            <div class="orangeCircle" onclick="javascript:SetPriority(2,@item.ArticleID)"></div>
            <div class="redCircle" onclick="javascript:SetPriority(3,@item.ArticleID)"></div>
        </td>
        <td style ="width:100px">
            <div style="float:right">
                @Html.ActionLink(
                    " ",
                 "Delete",
                 "Articles",
                     new
                     {
                         id = item.ArticleID
                     },
                    new
                    {
                        style = "background: url('" + Url.Content("~/Images/trash.png") + "') no-repeat center right; display:block; height:20px; width:20px;"
                    }
            )
            </div>
        </td>
    </tr>
    <script type="text/javascript">
        SetColors(@item.priority, @item.ArticleID);
    </script>
}

</table>



